@import "tailwindcss";
@theme {
  --color-primary: #4F46E5;
  --color-primary-dark: #3730A3;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}